body{
    background-color:cadetblue;
    text-align: center;
}

div.form{
    margin: auto;
    box-sizing: content-box;  
    width:50%;
    height: 675px;
    padding: 30px;  
    border: 2px solid blue;
    background-color: white;
    background-color: lightblue;
    width: 40%;
   
}

.left {
  text-align: right;
  padding: 14px 6px 8px 0;
}

.right {
  text-align: left;
  padding: 25px 6px 8px 0;
}
.col-2 .text{
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 6px;
}
.col-2 .text:focus{
  border: 3px solid #555;
}

select {
  padding: 10px 10px;
    width: 100%;
    border-radius: 6px;
    border: 3px solid #ccc;
}

select.selected{
  background-color:white;
  border: 10px 10px 5x 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
textarea.changes{
 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  
}